#jumbo.jumbotron {
    position: relative;
    background-image: url('../Gallery/photo-jumbo.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 100px 20px 50px 20px;
}

/* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 0;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: -300px;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 800px;
        padding: 0 20px;
        margin: 0 auto;
        margin-top: 15%;
    }
    .carousel-caption h1 {
      margin: 0;
      line-height: 1.25;
      color: #FFFF03;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    
    .carousel-caption p {
        color: #fff;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }