<!-- page container -->
<div class="page-container">

  <!-- page header -->
  <div class="page-header">

    <!-- page header holder -->
    <nav class="navbar navbar-default-admin">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                      </button>
          <a class="brand" ui-sref="admin"><img class="img-responsive" src="../img/logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a title="Edit my profile" ui-sref="admin-profile"><span class="fa fa-cog"></span></a></li>-->
            <li><a ui-sref="admin">Landing Page</a></li>
            <li><a ui-sref="admin-list">Edit Admins</a></li>
            <li><a ui-sref="workerprof">Edit Workers</a></li>
            <li><a ui-sref="offices">Edit Offices</a></li>
            <!-- <li><a ng-click="dashboardCtrl.logout()"><span class="fa fa-sign-out"></span> Log Out</a></li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    <!-- ./page header holder -->

  </div>
  <!-- ./page header -->

  <!-- page content -->
  <div class="page-content">

    <!-- page content wrapper -->
    <div class="page-content-wrap">
      <div class="container">
        <h2>Branch Offices Page:    <small> Add/Edit your branch offices </small></h2>
      </div>
      <div class="divider">
        <div class="box"><span class="fa fa-angle-down"></span></div>
      </div>

      <!-- page content holder -->
      <div class="page-content-wrap">
        <div class="container">
          
          <!--END FILTER-->
        </div>
        <br>
        <br>
        <!--RESULTS-->
        <div class="container">
          <div class="col-sm-5">
            <h3>List Cabang:</h3>            
          </div>
          <div class="pull-right">
            <button ui-sref="add-offices" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus-sign"></span> Add Branch
            </button>
          </div>
          <br>
          <div class="container">
            <div class="table-responsive">              

              <table class="table table-striped table-actions">
                <thead>
                  <th>Kotamadya</th>
                  <th>Nama Kantor</th>
                  <th>Alamat</th>
                  <th>No Tlp</th>
                  <th width="50">&nbsp;</th>
                  
                </thead>
                <tbody>
                  <tr dir-paginate="branch in branches | itemsPerPage: pageSize" current-page="currentPage">
                    <td>{{branch.kotamadya}}</td>
                    <td>{{branch.nama}}</td>
                    <td>{{branch.alamat}}</td>
                    <td>{{branch.telp}}</td>
                    <td>
                      <button class="btn btn-default btn-rounded btn-sm" ng-click="updateBranch(branch)">
                        <span class="fa fa-pencil"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./search/dirPagination.tpl.html"></dir-pagination-controls>
              </div>
            </div>
            <br>
          </div>
          <hr>

          <br>
          <hr>
        </div>

        <!--/RESULTS-->


      </div>

    </div>
    <!-- ./page content holder -->
  </div>
  <!-- ./page content wrapper -->

</div>
<!-- ./page content -->



</div>
<!-- ./page container -->