<!-- page container -->
<div class="page-container">

  <!-- page header -->
  <div class="page-header">

    <!-- page header holder -->
    <nav class="navbar navbar-default-admin">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <a class="brand" ui-sref="home"><img class="img-responsive" src="../img/logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a title="Edit my profile" ui-sref="admin-profile"><span class="fa fa-cog"></span></a></li>-->
            <li><a ui-sref="admin">Landing Page</a></li>
            <li><a ui-sref="admin-list">Edit Admins</a></li>
            <li><a ui-sref="workerprof">Edit Workers</a></li>
            <li><a ui-sref="offices">Edit Offices</a></li>
            <li><a ng-click="dashboardCtrl.logout()"><span class="fa fa-sign-out"></span> Log Out</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    <!-- ./page header holder -->

  </div>
  <!-- ./page header -->

  <!-- page content -->
  <div class="page-content">

    <!-- page content wrapper -->
    <div class="page-content-wrap">
      <div class="container">
        <h2>Workers Profile Page:    <small> Edit your workers </small></h2>
      </div>
      <div class="divider">
        <div class="box"><span class="fa fa-angle-down"></span></div>
      </div>

      <!-- page content holder -->
      <div class="page-content-wrap">
            
        <div class="container">
          <br>
          <br>
          <div class="row">
            <form class="form-horizontal col-lg-5 col-sm-offset-1" ng-submit="editWorker()">

              <div class="form-group">
                <label for="tersedia" class="col-lg-3 control-label">Pekerja Masih Tersedia?</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.tersedia" id="inputTersedia" required>
                  <option value="">Select</option>
                  <option>ya</option>
                  <option>tidak</option>
                  </select>
                  <span class="help-block">Pilih disini untuk merubah status ketersediaan pekerja</span>
                </div>
              </div>
                            
              <div class="form-group">
                <label for="user-name" class="col-lg-3 control-label">Nama</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="inputNama" ng-model="data.nama" placeholder="Masukkan Nama Pekerja" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label for="tanggal-lahir" class="col-lg-3 control-label">Tanggal Lahir</label>
                <div class="col-lg-8">
                  <input value="{{data.tanggallahir}}" type="date" class="form-control datepicker" id="inputTanggal" max="2000-12-31" min="1900-01-01" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label for="asal" class="col-lg-3 control-label">Asal/Tempat Lahir</label>
                <div class="col-sm-8">
                 <input type="text" class="form-control" id="inputAsal" ng-model="data.asal" placeholder="Masukkan Asal Pekerja" required/>       
                </div>
              </div>
              ​
              <div class="form-group">
                <label for="user-address" class="col-lg-3 control-label">Alamat Lengkap</label>
                <div class="col-lg-8">
                  <textarea class="form-control" id="inputAlamat" ng-model="data.alamat" rows="5" required></textarea>
                </div>
              </div>
              ​
              <div class="form-group">
                <label for="lokasi-cabang" class="col-lg-3 control-label">Lokasi Cabang</label>
                <div class="col-sm-8">
                  <select class="form-control select" id="inputLokasi" required ng-model="data.lokasi">
                   <option value="">Select</option>
                   <option ng-repeat="branch in branches">{{branch.kotamadya}}</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="kategori" class="col-lg-3 control-label">Kategori</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.kategori" id="inputKategori" required>
                  <option value="">Select</option>
                  <option>Rumah Tangga</option>
                  <option>Pekerja Umum</option>
                  <option>Pekerja Berketrampilan</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="profesi" class="col-lg-3 control-label">Profesi</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.profesi" id="inputProfesi" required>
                  <option value="">Select</option>
                  <option>PRT</option>
                  <option>Nanny</option>
                  <option>Baby Sitter</option>
                  <option>Perawat Lansia</option>
                  <option>Tukang Kebun</option>
                  <option>Sopir</option>
                  <option>Pekerja Beketrampilan</option>
                  <option>Lainnya</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="gender" class="col-lg-3 control-label">Jenis Kelamin</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.gender" id="inputGender" required>
                  <option value="">Select</option>
                  <option>Laki-laki</option>
                  <option>Perempuan</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="waktu" class="col-lg-3 control-label">Waktu</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.waktu" id="inputWaktu" required>
                  <option value="">Select</option>
                  <option>Menginap</option>
                  <option>Infal</option>
                  <option>Pulang-pergi</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="pendidikan" class="col-lg-3 control-label">Pendidikan Terakhir</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.pendidikan" id="inputPend" required>
                  <option value="">Select</option>
                  <option>SD</option>
                  <option>SMP</option>
                  <option>SMA</option>
                  <option>Perguruan Tinggi</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="status" class="col-lg-3 control-label">Status</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.status" id="inputStatus" required>
                  <option value="">Select</option>
                  <option>Lajang</option>
                  <option>Menikah</option>
                  <option>Janda/Duda</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="anak" class="col-lg-3 control-label">Anak</label>
                <div class="col-sm-8">
                  <input class="form-control" id="inputAnak" ng-model="data.anak" string-to-number type="number" min="0" max="20" required/>
                </div>
              </div>
              ​
              <div class="form-group">
                <label for="telp" class="col-lg-3 control-label">Tel/Handphone</label>
                <div class="col-sm-8">
                  <input type="tel" class="form-control" ng-model="data.telp" id="inputTelp" placeholder="ex: 021-1234567" required/>
                </div>
              </div> ​

              <div class="form-group">
                <label for="agama" class="col-lg-3 control-label">Agama</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.agama" id="inputAgama" required>
                  <option value="">Select</option>
                  <option>Islam</option>
                  <option>Katolik</option>
                  <option>Kristen</option>
                  <option>Hindu</option>
                  <option>Budha</option>
                  <option>Lainnya</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="suku" class="col-lg-3 control-label">Suku</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.suku" id="inputSuku" required>
                  <option value="">Select</option>
                  <option>Jawa</option>
                  <option>Sunda</option>
                  <option>Banten</option>
                  <option>Batak</option>
                  <option>Bali</option>
                  <option>NTB/NTT</option>
                  <option>Lampung</option>
                  <option>Madura</option>
                  <option>Melayu</option>
                  <option>Lainnya</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="gaji" class="col-lg-3 control-label">Gaji</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="data.gaji" id="inputGaji" placeholder="ex: 1.000.000" name="number" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label for="ketrampilan" class="col-lg-3 control-label">Ketrampilan</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="data.ketrampilan" id="inputKetrampilan" placeholder="Masukkan ketrampilan pekerja" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label for="anjing" class="col-lg-3 control-label">Takut Anjing?</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.anjing" id="inputAnjing" required>
                  <option value="">Select</option>
                  <option>Ya</option>
                  <option>Tidak</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="exp" class="col-lg-3 control-label">Pengalaman Kerja</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" ng-model="data.exp" string-to-number id="inputExp" min="0" max="50" required/>
                  <span class="help-block">Tahun</span>
                </div>
              </div>
              
              <div class="form-group">
                <label for="expln" class="col-lg-3 control-label">Pengalaman kerja di luar negri?</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.luarnegri" id="inputExpln" required>
                  <option value="">Select</option>
                  <option>Ya</option>
                  <option>Tidak</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="ing" class="col-lg-3 control-label">Bisa Bahasa Inggris?</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.inggris" id="inputIng" required>
                  <option value="">Select</option>
                  <option>Ya</option>
                  <option>Tidak</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="tinggi" class="col-lg-3 control-label">Tinggi Badan</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" ng-model="data.tinggi" string-to-number id="inputTinggi" min="50" max="350" required/>
                  <span class="help-block">Cm</span>
                </div>
              </div>
              
              <div class="form-group">
                <label for="berat" class="col-lg-3 control-label">Berat Badan</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" ng-model="data.berat"  id="inputBerat" min="20" max="250" required/>
                  <span class="help-block">Kg</span>
                </div>
              </div>
                            
              <div class="form-group">
                <label for="halal" class="col-lg-3 control-label">Bisa Masak Non-halal?</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.nonhalal" id="inputHalal" required>
                  <option value="">Select</option>
                  <option>Ya</option>
                  <option>Tidak</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="lembur" class="col-lg-3 control-label">Bersedia Lembur?</label>
                <div class="col-sm-8">
                  <select class="form-control select" ng-model="data.lembur" id="inputLembur" required>
                  <option value="">Select</option>
                  <option>Ya</option>
                  <option>Tidak</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="gajih" class="col-lg-3 control-label">Gaji Harian</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputGajih" ng-model="data.Gajih" name="number"/>
                  <span class="help-block">Jika Ada</span>
                </div>
              </div>
                            
                  <br>            
                  <br>
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary pull-right" id="btnSubmit">Save</button>
                    <button type="cancel" class="btn btn-danger mb-control" data-box="#message-box-danger" ng-click="removeWorker(data)">Remove</button>
                    <!--<button type="cancel" class="btn btn-default" onclick="this.form.reset()">Reset</button>-->
                    <button type="cancel" class="btn btn-primary" ui-sref="workerprof">Cancel</button>
                  </div>
                </form>
              
              <form class="form-horizontal col-lg-5 col-sm-offset-1">
                <div class="form-group">
                  <div class="col-lg-8" align="center">
                    <img ng-src="{{data.foto}}" width="300" height="auto"></img>
                    <div class="caption">
                      <h5>Upload gambar</h5>
                      <a class="btn btn-info" role="button" ng-click="click()">Browse</a>
                    </div>
                  </div>
                </div>
              </form>
                
              </div>
              <hr>
              <!-- END WORKER PROFILE -->

            </div>
          </div>

        </div>
        <!-- ./page content holder -->
      </div>
      <!-- ./page content wrapper -->

    </div>
    <!-- ./page content -->

  
  <!-- ./page container -->