<div class="login-container">

            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Reset Password</strong>
                    <br> please enter your email address</div>
                    <div class="alert alert-danger" ng-show="authCtrl.error">
                        <span>{{ authCtrl.error.message }}</span>
                    </div>
                    <div class="alert alert-warning" ng-show="authCtrl.IsReset">
                        <span>Your password has been reset, please check your email for instructions</span>
                    </div>
                    <form class="form-horizontal">
                        <!--<div class="container">-->
                        <!--    <div class="alert alert-{{alert.class}}" ng-model="alert.message" ng-show="alert.message">-->
                        <!--        {{alert.message}}-->
                        <!--    </div>-->
                        <!--</div>-->
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--    <div class="col-md-12">-->
                    <!--        <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-md-6">
                            <a ui-sref="login" class="btn btn-link btn-block">Back to login</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block" ng-click="authCtrl.resetPass()">Reset Password</button>
                        </div>
                        <!--<p ng-if="message">Message: <strong>{{ message }}</strong></p>-->
                        <!--<p ng-if="error">Error: <strong>{{ error }}</strong></p>-->
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2016 JobCenter.com
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                </div>

            </div>
</div>