<!-- page container -->
<div class="page-container">

    <!-- page header -->
    <div class="page-header">

        <!-- page header holder -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" ui-sref="home"><img class="img-responsive" src="../img/logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="contact-us">Contact Us</a></li>
                        <li><a ui-sref="search">Cari Pekerja</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <!-- ./page header holder -->

    </div>
    <!-- ./page header -->

    <!-- page content -->
    <div class="page-content">

        <div class="container text-center">
            <div class="container">
                <br>
                <h1 style="font-weight:bold" >{{nameData}}</h1>
                <p style="font-size:120%">{{katData}} | {{lokasiData}} | {{profesiData}}</p>
                 <span class="label label-warning label-form">Gaji: Rp {{gajiData}} </span>
            </div>
            <hr>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <img ng-src="{{gambarData}}" class="image-responsive" alt="image" style="max-width:100%; height: auto;"/>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-search-plus margin-right-4"></i> Details
                        </div>
                        <table class="table table-stacked">
                            <tr>
                                <td align="left">Jenis Kelamin :</td>
                                <td align="left">{{genderData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Waktu :</td>
                                <td align="left">{{waktuData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Pendidikan :</td>
                                <td align="left">{{pendData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Status :</td>
                                <td align="left">{{statusData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Agama :</td>
                                <td align="left">{{agamaData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Suku :</td>
                                <td align="left">{{sukuData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Umur :</td>
                                <td align="left" id="age">{{ age }} Tahun</td>
                            </tr>
                            <tr>
                                <td align="left">Pengalaman Kerja :</td>
                                <td align="left">{{expData}} Tahun</td>
                            </tr>
                            <tr>
                                <td align="left">Asal/Asli :</td>
                                <td align="left">{{asalData}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-warning panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-search-plus margin-right-4"></i> Profil
                        </div>
                        <table class="table table-stacked">
                            <tr>
                                <td align="left">Pengalaman di luar negeri :</td>
                                <td align="left">{{explnData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Bisa Bahasa Inggris :</td>
                                <td align="left">{{ingData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Tinggi Badan :</td>
                                <td align="left">{{tinggiData}} Cm</td>
                            </tr>
                            <tr>
                                <td align="left">Berat Badan :</td>
                                <td align="left">{{beratData}} Kg</td>
                            </tr>
                            <tr>
                                <td align="left">Bisa Masak Non-halal :</td>
                                <td align="left">{{halalData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Bersedia Lembur :</td>
                                <td align="left">{{lemburData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Takut Anjing :</td>
                                <td align="left">{{anjingData}}</td>
                            </tr>
                            <tr>
                                <td align="left">Anak :</td>
                                <td align="left">{{anakData}}</td>
                            </tr>
                            <tr ng-hide="!gajihData">
                                <td align="left">Gaji Harian :</td>
                                <td align="left">{{gajihData}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-danger panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-search-plus margin-right-4"></i> Keterampilan
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                {{ketData}}
                            </div>
                            <div class="col-md-4">
                                Memasak
                            </div>
                            <div class="col-md-4">
                                Memotong Rumput
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                Merawat Lansia
                            </div>
                            <div class="col-md-4">
                                Mengasuh Anak
                            </div>
                            <div class="col-md-4">
                                Mengelas
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-success btn-lg col-md-10 col-md-offset-1" data-toggle="modal" data-target="#contactModal">
                <span class="glyphicon glyphicon-plus-sign"></span> Book Pekerja Ini Sekarang!
            </button>
        </div>
        <br>

        <!-- ./page content -->

        <!-- page footer -->
        <div class="page-footer">

            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-dark-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder page-footer-holder-main">

                    <div class="row">

                        <!-- about -->
                        <div class="col-md-3">
                            <h3>About JobCenter.com</h3>
                            <p>The premiere Indonesian worker search center. Use our search function to easily find the worker you need.</p>
                        </div>
                        <!-- ./about -->

                        <!-- quick links -->
                        <div class="col-md-3">
                            <h3>Quick links</h3>

                            <div class="list-links">
                                <a ui-sref="home">Home</a>
                                <a ui-sref="contact-us">Contact Us</a>
                                <a ui-sref="search">Cari Pekerja</a>
                            </div>
                        </div>
                        <!-- ./quick links -->

                        <!-- recent tweets -->
                        <div class="col-md-3">
                            <h3>Recent Tweets</h3>

                            <div class="list-with-icon small">
                                <div class="item">
                                    <div class="icon">
                                        <span class="fa fa-twitter"></span>
                                    </div>
                                    <div class="text">
                                        <a href="#">@JohnDoe</a> We found a nanny for our kids within a week!
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <span class="fa fa-twitter"></span>
                                    </div>
                                    <div class="text">
                                        <a href="#">@Aqvatarius</a> Best service!
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon">
                                        <span class="fa fa-twitter"></span>
                                    </div>
                                    <div class="text">
                                        <a href="#">@StrayDemon</a> Will use JobCenter's service again!
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ./recent tweets -->

                        <!-- contacts -->
                        <div class="col-md-3">
                            <h3>Contacts</h3>

                            <div class="footer-contacts">
                                <div class="fc-row">
                                    <span class="fa fa-home"></span> 000 StreetName, Suite 111,
                                    <br/> City Name, ST 01234
                                </div>
                                <div class="fc-row">
                                    <span class="fa fa-phone"></span> (123) 456-7890
                                </div>
                                <div class="fc-row">
                                    <span class="fa fa-envelope"></span>
                                    <strong>John Doe</strong>
                                    <br>
                                    <a href="mailto:#">johndoe@domain.com</a>
                                </div>
                            </div>


                        </div>
                        <!-- ./contacts -->

                    </div>

                </div>
                <!-- ./page footer holder -->
            </div>
            <!-- ./page footer wrap -->

            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-darken-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder">

                    <!-- copyright -->
                    <div class="copyright">
                        &copy; 2016 JobCenter.com - All Rights Reserved
                    </div>
                    <!-- ./copyright -->

                    <!-- social links -->
                    <div class="social-links">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                    </div>
                    <!-- ./social links -->

                </div>
                <!-- ./page footer holder -->
            </div>
            <!-- ./page footer wrap -->

        </div>
        <!-- ./page footer -->
        <!-- Modal -->
        <div id="contactModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Book {{nameData}}</h4>
                        <h5 class="modal-title">Lokasi di {{lokasiData}}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="notValid">
                            <span>Harap isi semua field di form ini.</span>
                        </div>
                        <!-- ANGULAR VALIDATION FORM ============ -->

                        <form name="userForm" novalidate>

                            <!-- NAME -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Nama lengkap anda" required>
                                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Masukkan nama lengkap anda.</p>
                            </div>

                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="nama@domainemail.com" required>
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Masukkan alamat email anda.</p>
                            </div>

                            <!-- CONTACT -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.contact.$invalid && !userForm.contact.$pristine }">
                                <label>No Telp</label>
                                <input type="number" name="contact" class="form-control" ng-model="user.contact" placeholder="021 123123" required>
                                <p ng-show="userForm.contact.$invalid && !userForm.contact.$pristine" class="help-block">Masukkan nomer telepon anda.</p>
                            </div>

                            <!-- COMMENT -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.comment.$invalid && !userForm.comment.$pristine }">
                                <label>Permintaan</label>
                                <textarea type="text" name="comment" class="form-control" ng-model="user.comment" ng-minlength="3" ng-maxlength="200" placeholder="Isi permintaan anda disini" required></textarea>
                                <p ng-show="userForm.comment.$error.minlength" class="help-block">Isi permintaan anda.</p>
                                <p ng-show="userForm.comment.$error.maxlength" class="help-block">Isi permintaan terlalu panjang. (Maksimum 200 karakter)</p>
                            </div>

                            <button type="submit" class="btn btn-primary" ng-click="submitForm()">Submit</button>
                            <br>
                            <br>
                            <p> NOTE: You will be contacted by our administrators to set an interview date as soon as possible. </p>
                            <p> Thank you for using JobCenter.id </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- ./page container -->