<!-- page container -->
<div class="page-container">

    <!-- page header -->
    <div class="page-header">

        <!-- page header holder -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <a class="brand" ui-sref="home"><img class="img-responsive" src="../img/logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <!--<ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="contact-us">Contact Us</a></li>
                      </ul>-->

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <!-- ./page header holder -->

    </div>
    <!-- ./page header -->

    <!-- page content -->
    <div class="page-content">

        <!-- page content wrapper -->
        <div class="page-content-wrap bg-light">
            <!-- page content holder -->
            <div class="page-content-holder no-padding">
                <!-- page title -->
                <div class="page-title">
                    <h1>Hubungi Kami!</h1>
                    <!-- breadcrumbs -->
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li class="active">Contacts</li>
                    </ul>
                    <!-- ./breadcrumbs -->
                </div>
                <!-- ./page title -->
            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./page content wrapper -->


        <!-- page content wrapper -->
        <div class="page-content-wrap">

            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>

            <!-- page content holder -->
            <div class="page-content-holder">

                <div class="row">
                    <div class="col-md-7">

                        <div class="text-column">
                            <h4>Contact Us</h4>
                            <div class="text-column-info">
                                Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero. Curabitur ut lorem id tellus malesuada
                                tincidunt et eget purus.
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name <span class="text-hightlight">*</span></label>
                                    <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Nama lengkap anda" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail <span class="text-hightlight">*</span></label>
                                    <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="nama@domainemail.com" required/>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Subject <span class="text-hightlight">*</span></label>
                                    <input type="text" name="subject" class="form-control" ng-model="user.subject" placeholder="Isi subject anda" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Location <span class="text-hightlight">*</span></label>
                                <select class="form-control" ng-controller="branchViewController" ng-model="user.location">
                                    <option value="">Pilih Lokasi Anda</option>
                                    <option ng-repeat="branch in branches">{{branch.kotamadya}}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12" >
                            <div class="form-group">
                                <label>Message <span class="text-hightlight">*</span></label>
                                <textarea type="text" name="message" class="form-control"  ng-model="user.message" rows="8"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-controller="branchViewController" ng-click="submitForm()">Send Message</button>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapse1">
                                     Jakarta Pusat</a>
                                   </h4>
                                </div>

                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Jl Menteng Dalam No 1 Kebon Sirih
                                        <br> 021-25525550
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.605065156067!2d106.8302543140437!3d-6.18357856230788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f431a89af057%3A0xa99b10f338e2fdae!2sJl.+Menteng%2C+Kb.+Sirih%2C+Menteng%2C+Kota+Jakarta+Pusat%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sen!2sid!4v1460530213274"
                                            width="230" height="250" frameborder="0" style="border:;0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                          	         <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse2">
                          	         Jakarta Utara</a>
                          	       </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jl. Boulevard Raya, Pegangsaan Dua, Kelapa Gading
                                        <br> 021-25525551
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.868392730342!2d106.90744901404328!3d-6.148371861978895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5358b607cef%3A0xe062bd5d79e32207!2sJl.+Boulevard+Raya%2C+Pegangsaan+Dua%2C+Klp.+Gading%2C+Kota+Jkt+Utara%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sen!2sid!4v1460531095663"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse3">
                                       Jakarta Timur</a>
                            	       </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalan Rawamangun Selatan, Rawamangun
                                        <br> 021-25525552
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.466368466548!2d106.87955411404393!3d-6.2020421624812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f4910a89d71b%3A0xd70adc717ce8feec!2sJl.+Rawamangun+Selatan%2C+Rawamangun%2C+Pulo+Gadung%2C+Kota+Jakarta+TimurPulogadung%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sen!2sid!4v1460531302378"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse4">
                                       Jakarta Selatan</a>
                            	       </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalan Tebet Raya, Tebet Timur
                                        <br> 021-25525553
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2657771873037!2d106.85272781404417!3d-6.2286488627319345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f39073729f1b%3A0x1abb36b6144eca02!2sJl.+Tebet+Raya%2C+Tebet+Tim.%2C+Tebet%2C+Kota+Jakarta+Selatan%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sen!2sid!4v1460531508187"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse5">
                                       Jakarta Barat</a>
                            	       </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Meruya Utara, Kebon Jeruk No 1
                                        <br> 021-56723410
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.500109235349!2d106.76310341404375!3d-6.197555562438995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f716360dbc21%3A0x60fc5f839a47b4f5!2sJl.+Meruya+Utara%2C+Kb.+Jeruk%2C+Kota+Jakarta+Barat%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sen!2sid!4v1460531762482"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse6">
                                       Bogor</a>
                            	       </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jl. Pajajaran, Sukasari, Bogor
                                        <br> 0251-23479845
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.232043413631!2d106.81484051404817!3d-6.6180689665338965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5fd4a0ccd31%3A0xc44551b0162c0673!2sJl.+Pajajaran%2C+Sukasari%2C+Bogor+Tim.%2C+Kota+Bogor%2C+Jawa+Barat!5e0!3m2!1sen!2sid!4v1460532240545"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse7">
                                       Depok</a>
                            	       </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        MARGONDA, Jalan Margonda Raya, Depok
                                        <br> 021-23412311
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.0089059252127!2d106.82090431404579!3d-6.392851664304908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ebe36674ca7b%3A0x3564e1e6f8964a62!2sMARGONDA!5e0!3m2!1sen!2sid!4v1460532327867"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse8">
                                       Tangerang</a>
                            	       </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jl. Niaga XI, Karang Timur, Tangerang City
                                        <br> 021-28455345
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.276739265803!2d106.71865241404417!3d-6.227197762718243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fa0703087655%3A0xf2e9bd46747a6e7f!2sJl.+Niaga+XI%2C+Karang+Tim.%2C+Karang+Tengah%2C+Kota+Tangerang%2C+Banten!5e0!3m2!1sen!2sid!4v1460532522661"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-parent="#accordion" 
          data-target="#collapse9">
                                       Bekasi</a>
                            	       </h4>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalan Bekasi Timur, Cipinang Muara
                                        <br> 021-27527523
                                        <hr>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.362093735038!2d106.886038514044!3d-6.215887462611544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f36005a058f3%3A0x9b251b057c9382a4!2sJl.+Bekasi+Timur%2C+Cipinang+Muara%2C+Jatinegara%2C+Kota+Jakarta+Timur%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sen!2sid!4v1460532620785"
                                            width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./page content wrapper -->

    </div>
    <!-- ./page content -->

    <!-- page footer -->
    <div class="page-footer">

        <!-- page footer wrap -->
        <div class="page-footer-wrap bg-dark-gray">
            <!-- page footer holder -->
            <div class="page-footer-holder page-footer-holder-main">

                <div class="row">

                    <!-- about -->
                    <div class="col-md-3">
                        <h3>About JobCenter.id</h3>
                        <p>The premiere Indonesian worker search center. Use our search function to easily find the worker you
                            need.</p>
                    </div>
                    <!-- ./about -->

                    <!-- quick links -->
                    <div class="col-md-3">
                        <h3>Quick links</h3>

                        <div class="list-links">
                            <a ui-sref="home">Home</a>
                            <a ui-sref="contact-us">Contact Us</a>
                        </div>
                    </div>
                    <!-- ./quick links -->

                    <!-- recent tweets -->
                    <!--<div class="col-md-3">
                                <h3>Recent Tweets</h3>

                                <div class="list-with-icon small">
                                    <div class="item">
                                        <div class="icon">
                                            <span class="fa fa-twitter"></span>
                                        </div>
                                        <div class="text">
                                            <a href="#">@JohnDoe</a> We found a nanny for our kids within a week!
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <span class="fa fa-twitter"></span>
                                        </div>
                                        <div class="text">
                                            <a href="#">@Aqvatarius</a> Best service!
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon">
                                            <span class="fa fa-twitter"></span>
                                        </div>
                                        <div class="text">
                                            <a href="#">@StrayDemon</a> Will use JobCenter's service again!
                                        </div>
                                    </div>
                                </div>

                            </div>-->
                    <!-- ./recent tweets -->

                    <!-- contacts -->
                    <div class="col-md-3">
                        <h3>Contacts</h3>

                        <div class="footer-contacts">
                            <div class="fc-row">
                                <span class="fa fa-home"></span> 000 StreetName, Suite 111,<br/> City Name, ST 01234
                            </div>
                            <div class="fc-row">
                                <span class="fa fa-phone"></span> (123) 456-7890
                            </div>
                            <div class="fc-row">
                                <span class="fa fa-envelope"></span>
                                <strong>John Doe</strong><br>
                                <a href="mailto:#">johndoe@domain.com</a>
                            </div>
                        </div>


                    </div>
                    <!-- ./contacts -->

                </div>

            </div>
            <!-- ./page footer holder -->
        </div>
        <!-- ./page footer wrap -->

        <!-- page footer wrap -->
        <div class="page-footer-wrap bg-darken-gray">
            <!-- page footer holder -->
            <div class="page-footer-holder">

                <!-- copyright -->
                <div class="copyright">
                    &copy; 2016 JobCenter.id - All Rights Reserved
                </div>
                <!-- ./copyright -->

                <!-- social links -->
                <div class="social-links">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                </div>
                <!-- ./social links -->

            </div>
            <!-- ./page footer holder -->
        </div>
        <!-- ./page footer wrap -->

    </div>
    <!-- ./page footer -->

</div>
<!-- ./page container -->