<!-- page container -->
<div class="page-container">

    <!-- page header -->
    <div class="page-header">

        <!-- page header holder -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" ui-sref="home-en"><img class="img-responsive" src="../img/logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="contact-us">Contact Us</a></li>
                        <li class="dropdown dropdown-lang mr-5">
                            <a class="btn-link font2" data-toggle="dropdown" aria-expanded="false">
                                <img alt="JobCenter - ID" class="svg-flag mr-5" height="25" src="../img/USA_flag.jpg" width="25">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu with-arrow-v2-right-language pull-right" style="background-color:#e7e7e7" role="menu">
                                <li class="disabled">
                                    <a ui-sref="home-en" rel="nofollow">
                                        <img alt="JobCenter - EN" class="svg-flag mr-5" height="25" src="../img/USA_flag.jpg" width="25">                                        English
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="home" rel="nofollow">
                                        <img alt="JobCenter - ID" class="svg-flag mr-5" height="25" src="../img/indo.jpg" width="25">                                        Indonesia
                                    </a>
                                </li>
                            </ul>
                        </li>



                        <!--<li><a ui-sref="search">Cari Pekerja</a></li>-->
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <!-- ./page header holder -->

    </div>
    <!-- ./page header -->

    <!-- page content -->
    <div class="page-content">

        <!-- Carousel slider -->
        <div class="banner-container">
            <div id="myCarousel" class="carousel slide">
                <div class="item" style="background: url(./img/backgrounds/LP3.jpg) no-repeat left center; background-size: cover;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Looking For Hired Help?</h1>
                            <p class="lead">Contact one of our branches or search through our database.</p>
                            <button class="btn btn-primary" ui-sref="contact-us">Contact Us</button> &nbsp &nbsp
                            <button class="btn btn-primary" ui-sref="home-en({ '#': 'tipe' })" ng-click="redirecten($event)">Choose Worker Category</button>
                            <br><button class="btn btn-primary" ui-sref="daftar" style="width: 50%;margin-right: 1px;">Register as a Worker</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./carousel -->

        <!-- Icon Category -->
        <div class="page-content-wrap bg-img-1" id="tipe">
            <div class="page-content-holder">
                <div class="block-heading block-heading-centralized">
                    <h1 class="heading-underline">Search Based on Profession</h1>
                    <div class="block-heading-text">
                        Below are a few of the types of workers we provide:
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterInfalen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-infal"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Seasonal / Daily Cleaner</strong></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterPembantuen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-pembantu"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Housemaid (Full-time)</strong></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterKebunen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-kebun"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Gardener</strong></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterBinatangen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-binatang"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Pet Sitter</strong></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterSopiren($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-driver"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Driver</strong></p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterTukangen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-tukang"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Handyman</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterBabyen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-babysitter"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Baby Sitter</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterNannyen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-suster"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Nanny / Nurse</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterSatpamen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-satpam"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>Security</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterUmumen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-general"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>General Worker</strong></p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="text-column text-column-centralized tex-column-icon-lg">

                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">

                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">
                                <a ui-sref="home-en({ '#': 'search' })" ng-click="redirectFilterSPGen($event)">
                                    <div class="text-column-icon">
                                        <span class="fa icon-suster"></span>
                                    </div>
                                    <br>
                                    <p style="color: #002b80; font-size: 25px;"><strong>SPG/SPB</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">

                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="text-column text-column-centralized tex-column-icon-lg">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./Icon Category -->

        <!-- Filter and Results -->
        <div class="page-content-wrap bg-texture-1 bg-light dark-elements">
            <div class="page-content-wrap">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <div class="page-content-holder" id="search">
                    <!-- LOKASI -->
                    <div class="text-center">
                        <h3>You're Looking For:
                            <span style="color:#00003B" ng-show="isi.value1 == 'Infal / Cuci-gosok'">Seasonal / Daily Cleaner</span>
                            <span style="color:#00003B" ng-show="isi.value2 == 'Pembantu (Full-time)'">Housemaid (Full-time)</span>
                            <span style="color:#00003B" ng-show="isi.value3 == 'Tukang Kebun'">Gardener</span>
                            <span style="color:#00003B" ng-show="isi.value4 == 'Penjaga Binatang Peliharaan'">Pet Sitter</span>
                            <span style="color:#00003B" ng-show="isi.value5 == 'Sopir'">Driver</span>
                            <span style="color:#00003B" ng-show="isi.value6 == 'Tukang / Maintenance'">Handyman</span>
                            <span style="color:#00003B" ng-show="isi.value7 == 'Baby Sitter'">Baby Sitter</span>
                            <span style="color:#00003B" ng-show="isi.value8 == 'Nanny / Perawat Orang Sakit'">Nanny / Nurse</span>
                            <span style="color:#00003B" ng-show="isi.value9 == 'Satpam'">Security</span>
                            <span style="color:#00003B" ng-show="isi.value10 == 'Pekerja Umum'">General Worker</span>
                            <span style="color:#00003B" ng-show="isi.value11 == 'Pekerja Umum'">SPG/SPB</span>
                        </h3>
                        <h1 class="heading-underline">Where are You?</h1>
                        <select class="btn" style="background-color: #353831; border-color: #00003B; color: #FFFF03; padding:12px; font-size:20px"
                            ng-model="input.lokasi">
                    <option value="">Choose A Location</option>
                    <option ng-repeat="branch in branches">{{branch.kotamadya}}</option>
                </select>
                    </div>
                    <br>

                    <!-- filter -->
                    <div class="container">
                        <a ng-model="collapsed" ng-click="collapsed=!collapsed" href="">
                            <h3 class="text-left"><span class="fa fa-chevron-down"></span> Advanced Filter:</h3>
                        </a>
                        <div class="well" style="max-height: 400px;overflow: auto;" ng-show="collapsed">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                <input type="checkbox" ng-model="isi.value1" ng-true-value="'Infal / Cuci-gosok'" ng-false-value="" >
                                    Seasonal / Daily Cleaner  &nbsp</label>
                                    <label>
                                <input type="checkbox" ng-model="isi.value2" ng-true-value="'Pembantu (Full-time)'" ng-false-value="">
                                    Housemaid (Full-time) </label>
                                    <label>
                                <input type="checkbox" ng-model="isi.value3" ng-true-value="'Tukang Kebun'" ng-false-value="">
                                    Gardener &nbsp</label>
                                    <label>
                                <input type="checkbox" ng-model="isi.value4" ng-true-value="'Penjaga Binatang Peliharaan'" ng-false-value="">
                                    Pet Sitter  &nbsp</label>
                                    <label><input type="checkbox" ng-model="isi.value9" ng-true-value="'Satpam'" ng-false-value="">
                                    Security  &nbsp</label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                    <input type="checkbox" ng-model="isi.value5" ng-true-value="'Sopir'" ng-false-value="">
                                    Driver </label><br>
                                    <label>
                                    <input type="checkbox" ng-model="isi.value6" ng-true-value="'Tukang / Maintenance'" ng-false-value="">
                                    Handyman</label>
                                    <label><input type="checkbox" ng-model="isi.value7" ng-true-value="'Baby Sitter'" ng-false-value="">
                                    Baby Sitter  &nbsp</label>
                                    <label><input type="checkbox" ng-model="isi.value8" ng-true-value="'Nanny / Perawat Orang Sakit'" ng-false-value="">
                                    Nanny / Nurse  &nbsp</label>
                                    <label><input type="checkbox" ng-model="isi.value10" ng-true-value="'Pekerja Umum'" ng-false-value="">
                                    General Worker  &nbsp</label>
                                    <label><input type="checkbox" ng-model="isi.value11" ng-true-value="'SPG'" ng-false-value="">
                                    SPG/SPB&nbsp</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="status" ng-model="input.status">
                                        <option value="">Status</option>
                                        <option value="Lajang">Single</option>
                                        <option value="Menikah">Married</option>
                                        <option value="Janda / Duda">Widowed</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="gajimin" ng-model="min">
                                    <option value="">Monthly Salary(min)</option>
                                    <option value="500000">Rp 500,000</option>
                                    <option value="750000">Rp 750,000</option>
                                    <option value="1000000">Rp 1,000,000</option>
                                    <!--<option>Rp 1,100,000</option>-->
                                    <!--<option value="1250000">Rp 1,250,000</option>
                                    <option>Rp 1,300,000</option>
                                    <option>Rp 1,400,000</option>-->
                                    <option value="1500000">Rp 1,500,000</option>
                                    <!--<option>Rp 1,600,000</option>-->
                                    <option value="1750000">Rp 1,750,000</option>
                                    <!--<option>Rp 1,800,000</option>
                                    <option>Rp 1,900,000</option>-->
                                    <option value="2000000">Rp 2,000,000</option>
                                    <!--<option>Rp 2,100,000</option>-->
                                    <option value="2250000">Rp 2,250,000</option>
                                    <!--<option>Rp 2,300,000</option>
                                    <option>Rp 2,400,000</option>-->
                                    <option value="2500000">Rp 2,500,000</option>
                                    <!--<option>Rp 2,600,000</option>-->
                                    <option value="2750000">Rp 2,750,000</option>
                                    <!--<option>Rp 2,800,000</option>
                                    <option>Rp 2,900,000</option>-->
                                    <option value="3000000">Rp 3,000,000</option>
                                    <!--<option>Rp 3,100,000</option>-->
                                    <option value="3250000">Rp 3,250,000</option>
                                    <!--<option>Rp 3,300,000</option>
                                    <option>Rp 3,400,000</option>-->
                                    <option value="3500000">Rp 3,500,000</option>
                                    <option value="3750000">Rp 3,750,000</option>
                                    <option value="4000000">Rp 4,000,000</option>
                                    <option value="4250000">Rp 4,250,000</option>
                                    <option value="4500000">Rp 4,500,000</option>
                                    <option value="4750000">Rp 4,750,000</option>
                                    <option value="5000000">Rp 5,000,000</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="usiamin" ng-model="usiamin">
                                  <option value="">Age (min)</option>
                                  <option>17</option>
                                  <option>18</option>
                                  <option>19</option>
                                  <option>20</option>
                                  <option>21</option>
                                  <option>22</option>
                                  <option>23</option>
                                  <option>24</option>
                                  <option>25</option>
                                  <option>26</option>
                                  <option>27</option>
                                  <option>28</option>
                                  <option>29</option>
                                  <option>30</option>
                                  <option>31</option>
                                  <option>32</option>
                                  <option>33</option>
                                  <option>34</option>
                                  <option>35</option>
                                  <option>36</option>
                                  <option>37</option>
                                  <option>38</option>
                                  <option>39</option>
                                  <option>40</option>
                                  <option>41</option>
                                  <option>42</option>
                                  <option>43</option>
                                  <option>44</option>
                                  <option>45</option>
                                  <option>46</option>
                                  <option>47</option>
                                  <option>48</option>
                                  <option>49</option>
                                  <option>50</option>
                                  <option>51</option>
                                  <option>52</option>
                                  <option>53</option>
                                  <option>54</option>
                                  <option>55</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="suku" ng-model="input.suku">
                                  <option value="">Origin</option>
                                  <option value="Jawa">Java</option>
                                  <option>Sunda</option>
                                  <option>Banten</option>
                                  <option>Batak</option>
                                  <option>Bali</option>
                                  <option>NTB/NTT</option>
                                  <option>Lampung</option>
                                  <option>Madura</option>
                                  <option>Melayu</option>
                                  <option value="Lainnya">Others</option>
                               </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="gender" ng-model="input.gender">
                                  <option value="">Gender</option>
                                  <option value="Laki-laki">Male</option>
                                  <option value="Perempuan">Female</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="gajimax" ng-model="max">
                                  <option value="">Monthly Salary(max)</option>
                                    <option value="500000">Rp 500,000</option>
                                    <option value="750000">Rp 750,000</option>
                                    <option value="1000000">Rp 1,000,000</option>
                                    <!--<option>Rp 1,100,000</option>-->
                                    <!--<option value="1250000">Rp 1,250,000</option>
                                    <option>Rp 1,300,000</option>
                                    <option>Rp 1,400,000</option>-->
                                    <option value="1500000">Rp 1,500,000</option>
                                    <!--<option>Rp 1,600,000</option>-->
                                    <option value="1750000">Rp 1,750,000</option>
                                    <!--<option>Rp 1,800,000</option>
                                    <option>Rp 1,900,000</option>-->
                                    <option value="2000000">Rp 2,000,000</option>
                                    <!--<option>Rp 2,100,000</option>-->
                                    <option value="2250000">Rp 2,250,000</option>
                                    <!--<option>Rp 2,300,000</option>
                                    <option>Rp 2,400,000</option>-->
                                    <option value="2500000">Rp 2,500,000</option>
                                    <!--<option>Rp 2,600,000</option>-->
                                    <option value="2750000">Rp 2,750,000</option>
                                    <!--<option>Rp 2,800,000</option>
                                    <option>Rp 2,900,000</option>-->
                                    <option value="3000000">Rp 3,000,000</option>
                                    <!--<option>Rp 3,100,000</option>-->
                                    <option value="3250000">Rp 3,250,000</option>
                                    <!--<option>Rp 3,300,000</option>
                                    <option>Rp 3,400,000</option>-->
                                    <option value="3500000">Rp 3,500,000</option>
                                    <option value="3750000">Rp 3,750,000</option>
                                    <option value="4000000">Rp 4,000,000</option>
                                    <option value="4250000">Rp 4,250,000</option>
                                    <option value="4500000">Rp 4,500,000</option>
                                    <option value="4750000">Rp 4,750,000</option>
                                    <option value="5000000">Rp 5,000,000</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="usiamax" ng-model="usiamax">
                                  <option value="">Age (max)</option>
                                  <option>17</option>
                                  <option>18</option>
                                  <option>19</option>
                                  <option>20</option>
                                  <option>21</option>
                                  <option>22</option>
                                  <option>23</option>
                                  <option>24</option>
                                  <option>25</option>
                                  <option>26</option>
                                  <option>27</option>
                                  <option>28</option>
                                  <option>29</option>
                                  <option>30</option>
                                  <option>31</option>
                                  <option>32</option>
                                  <option>33</option>
                                  <option>34</option>
                                  <option>35</option>
                                  <option>36</option>
                                  <option>37</option>
                                  <option>38</option>
                                  <option>39</option>
                                  <option>40</option>
                                  <option>41</option>
                                  <option>42</option>
                                  <option>43</option>
                                  <option>44</option>
                                  <option>45</option>
                                  <option>46</option>
                                  <option>47</option>
                                  <option>48</option>
                                  <option>49</option>
                                  <option>50</option>
                                  <option>51</option>
                                  <option>52</option>
                                  <option>53</option>
                                  <option>54</option>
                                  <option>55</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="pendidikan" ng-model="input.pendidikan">
                                  <option value="">Education Level</option>
                                  <option value="SD">Primary</option>
                                  <option value="SMP">Secondary</option>
                                  <option value="SMA">High School</option>
                                  <option value="Perguruan Tinggi">Degree</option>
                                </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" id="exp" ng-model="input.exp">
                                <option value="">Experience (years)</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                            </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="waktu" ng-model="input.waktu">
                                <option value="">Work Time</option>
                                <option value="Menginap">Stay-In</option>
                                <option value="Infal">Seasonal</option>
                                <option value="Pulang-Pergi">Nine-to-Five / Temporary</option>
                            </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="agama" ng-model="input.agama">
                                <option value="">Religion</option>
                                <option value="Islam">Moslem</option>
                                <option value="Katolik">Catholic</option>
                                <option value="Kristen">Christian</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Budha">Buddhist</option>
                                <option value="Lainnya">Other</option>
                            </select>
                                </div>
                                <a class="btn btn-primary pull-right" ng-click="apply()">
                                    <span class="glyphicon glyphicon-refresh"></span> Reset
                                </a>
                                <input type="text" class="" id="tersedia" ng-model="input.tersedia" ng-init="input.tersedia='available'" hidden/>
                            </div>

                        </div>
                    </div>
                    <!-- ./filter -->

                    <!--RESULTS-->
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 style="font-family:proxima">Search Results:</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 pull-right">
                                <select class="form-control" id="page" ng-model="pageSize">
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                            <option>50</option>
                            </select>
                            </div>
                            <div class="pull-right">
                                <label for="page">Items per Page: </label>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="well well-lg" dir-paginate="data in datas  | filter:input | filter:{profesi: isi} | filter:gaji 
                                    | filter: usia | itemsPerPage: pageSize" current-page="currentPage">
                            <div class="col-sm-2">
                                <img ng-src="{{data.foto}}" class="image-responsive" alt="image" style="max-height:100px; max-width:150px" />
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <a ng-click="viewProfile(data)" href="">
                                        <p class="text-danger" style="text-transform: uppercase; font-size:18px"><strong>{{data.nama}}</strong></p>
                                    </a>
                                    <p>Salary: {{ data.gajiNum | currency:"Rp. ":0}}</p>
                                    <p>Experience : {{ data.exp }} yrs.</p>
                                    <div class="panel-heading" style="padding:0px 0px; border-bottom: 0px">
                                        <span class="label label-default" style="font-size: 100%;" ng-repeat="ket in data.ketrampilan"> {{ ket.text }} </span>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <p class="title" style="font-size: 16px"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{data.lokasi}}
                                    </p>
                                    <p class="title"><label ng-repeat="ket in data.profesi">{{ket + ',&nbsp'}}</label></p>
                                    <p>Born: {{data.tanggal | date}}</p>
                                </div>

                                <div class="col-sm-3">
                                    <button class="btn btn-danger btn-md" data-toggle="modal" data-target="#contactModal" ng-click="bookProfileen(data)">
                                <span class="glyphicon glyphicon-plus-sign"></span> Book Worker!
                            </button>
                                    <br>
                                    <br>
                                    <button ng-click="viewProfile(data)" class="btn btn-primary btn-md">
                                <span class="glyphicon glyphicon-search"></span> Worker Details
                            </button>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- ./RESULTS -->

                    <!-- pagination -->
                    <div class="container">
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./search/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </div>
                    <!-- ./pagination -->

                </div>
                <!-- end of page content holder -->

            </div>
        </div>
        <!-- ./Filter and Results -->

        <!-- How to Book -->
        <div class="page-content-wrap bg-texture-1 bg-dark light-elements">

            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>

            <!-- page content holder -->
            <div class="page-content-holder">

                <div class="row">

                    <div class="col-md-4">
                        <div class="text-column text-column-centralized tex-column-icon-lg">
                            <div class="text-column-icon">
                                <span class="fa icons-search" style="font-family:icomoon; font-size:350%"></span>
                            </div>
                            <h4><strong>SEARCH</strong></h4>
                            <div class="text-column-info">
                                Use our search function to find your preferred worker. Choose the type of worker and the location you need.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="text-column text-column-centralized tex-column-icon-lg">
                            <div class="text-column-icon">
                                <span class="fa icons-cal" style="font-family:icomoon; font-size:350%"></span>
                            </div>
                            <h4><strong>BOOK</strong></h4>
                            <div class="text-column-info">
                                Once you have found the worker you like, click the "Book Worker" button and fill the form. One of our administrators will
                                contact you and set up an interview date.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="text-column text-column-centralized tex-column-icon-lg">
                            <div class="text-column-icon">
                                <span class="fa icons-int" style="font-family:icomoon; font-size:350%"></span>
                            </div>
                            <h4><strong>INTERVIEW</strong></h4>
                            <div class="text-column-info">
                                Interview with your worker will take place in our branch office. If you're satisfied with the worker we can schedule another
                                interview with another one.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./How to Book -->

        <!-- About us -->
        <div class="page-content-wrap bg-light bg-texture-1">

            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>

            <!-- page content holder -->
            <div id="about" class="page-content-holder">

                <div>
                    <h2>About Us <small> See what our clients have to say about our services! </small></h2>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper, quam porttitor iaculis
                                semper, mi enim venenatis ligula, vel dictum lorem est suscipit nibh. Fusce pulvinar sodales
                                tellus, eget iaculis tellus viverra vel.
                            </p>
                            <footer>John Doe</footer>
                        </blockquote>
                    </div>
                    <div class="col-lg-4">
                        <blockquote>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce
                                rhoncus elit ac nisl hendrerit mattis. Donec tempor urna eros, sed pulvinar purus consectetur
                                vel. </p>
                            <footer>Jane Doe</footer>
                        </blockquote>
                    </div>
                    <div class="col-lg-4">
                        <blockquote>
                            <p>Nunc ullamcorper risus vitae sem posuere pretium. Sed molestie diam commodo, placerat nulla sit
                                amet, fermentum nisl. In quis justo vel nunc blandit ullamcorper ac a ex. </p>
                            <footer>Jay Doe</footer>
                        </blockquote>
                    </div>
                </div>

            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./About Us -->

        <!-- page content wrapper -->
        <div class="page-content-wrap bg-light">
            <!-- page content holder -->

            <!-- ./page content holder -->
        </div>
        <!-- ./page content wrapper -->
    </div>
    <!-- ./page content -->

    <!-- Modal -->
    <div id="contactModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--<h4 class="modal-title">Hubungi Kami</h4>-->
                    <h4 class="modal-title">Book <span class="text-danger"> {{data.nama}}</span> Now!</h4>
                    <h5 class="modal-title">Location in <strong>{{data.lokasi}}</strong></h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="notValid">
                        <span>Please Complete the Form!</span>
                    </div>
                    <!-- ANGULAR VALIDATION FORM ============ -->

                    <form name="userForm" novalidate>
                        <select id="lokasi" hidden>
                            <option ng-selected="branch.kotamadya == data.lokasi" ng-repeat="branch in branches | filter: {kotamadya: data.lokasi}" ng-value="branch.email">{{branch.email}}</option>
                        </select>
                        <!-- NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Nama lengkap anda" required>
                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Please Enter Your Full Name</p>
                        </div>

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="nama@domainemail.com" required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Please Enter Your Email</p>
                        </div>

                        <!-- CONTACT -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.contact.$invalid && !userForm.contact.$pristine }">
                            <label>Phone Number</label>
                            <input type="number" name="contact" class="form-control" ng-model="user.contact" placeholder="021 123123" required>
                            <p ng-show="userForm.contact.$invalid && !userForm.contact.$pristine" class="help-block">Please Enter Your Phone Number</p>
                        </div>

                        <!-- COMMENT -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.comment.$invalid && !userForm.comment.$pristine }">
                            <label>Additional Request</label>
                            <textarea type="text" name="comment" class="form-control" ng-model="user.comment" ng-minlength="3" ng-maxlength="200" placeholder="Isi permintaan anda disini"
                                ng-init="user.comment=null"></textarea>
                            <p ng-show="userForm.comment.$error.minlength" class="help-block">Please Fill in Your Request</p>
                            <p ng-show="userForm.comment.$error.maxlength" class="help-block">Your request is exceed the maximum character of 200.</p>
                        </div>

                        <ul id="check-box-list" class="list-group checked-list-box">
                            <div class="checkbox"><label><input type="checkbox" ng-model="term">I Accept the </label> <a href="/terms" style="color: #F2071F">Terms & Conditions</a></div>
                        </ul>

                        <button ng-disabled="!term" type="submit" class="btn btn-primary" ng-click="submitForm()">Submit</button>
                        <br>
                        <br>
                        <p> NOTE: You will be contacted by our administrators to set an interview date as soon as possible. </p>
                        <p> Thank you for using JobCenter.id </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <!-- ./Modal -->

    <!-- page footer -->
    <footer-main></footer-main>
    <!-- ./page footer -->

</div>
<!-- ./page container -->